{
  "presets": [[
    "@babel/env", {
      "modules": false,
      "debug": true
    }],
    "@babel/stage-3",
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    ["module-resolver", {
      "extensions": [".js", ".jsx", ".ts", ".tsx"],
      "root": ["./src"]
    }]
  ],
  "env": {
    "test": {
      "presets": [[
        "@babel/env", {
          "modules": "commonjs",
          "targets": {
            "node": "current"
          }
        }],
        "@babel/stage-3",
        "@babel/react",
        "@babel/typescript"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
